*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  animation: gradient 7s ease infinite;
  background-size: 200% 200%;
  height: 100vh;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
}

main{
  width: 42.8rem;
  text-align: center;
  background: #fff;
  padding: 4.8rem 6.4rem;
  border-radius: .5rem;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #34355B;
  margin-bottom: 1.4rem;
}

img{
  margin-top: 2.8rem;
  
}

.changeImg{
  cursor: pointer;
  animation: tremor 0.2s ease-in-out infinite;
}

.hide{
  display: none;
}

p{
  font-family: 'Dm Sans', sans-serif;
  font-weight: 400;
  color: #34355B;
}


/* Screen Two */

.card{
  background: #e4edf1;
  padding: 1rem;
  text-align: center;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);

  animation: card 2s;
}

.card p{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 2.4rem;
}

button{
  margin-top: 4.3rem;
  padding: 1.6rem;
  background: #FF9500;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: background .5s;
}

button:hover{
  background: #925703;
}

/* Animations */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes tremor {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes card{
  
  0% {
    opacity: 0;
    transform: translateY(16rem) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

